html {
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: #eeeeee;
    font-size: 20px;
    margin: 0;
    min-height: 100vh;
}

.scroll {
    overflow: scroll;
}

.thank {
    text-align: center;
    width: 100vh;
    font-size: 30px;
}

.bold {
    font-weight: bold;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

footer {
    width: 100%;
    background-color: white;
    font-size: 20px;
    bottom: 0;
}

footer .content {
    margin: auto;
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: white;
}

footer .content .row a {
    border-right: solid 2px rgba(0, 141, 158, 0.4);
    padding: 0 10px;
}

footer .content .row a:last-child {
    border: none;
}

footer .endline {
    background-color: rgba(0, 141, 158, 1);
    width: 100%;
    height: 20px;
}

.nav-header {
    background-color: antiquewhite;
    padding: 1rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid wheat 1px;
}

.sticky + .content {
    padding-top: 10px;
}

#navbar {
    width: 100%;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: start;
    border-top: solid 1px #E5E5E5;
    border-bottom: solid 1px #E5E5E5;
    padding: 5px;
    z-index: 10;
}

#navbar .navbar-logo {
    display: inline;
    margin-left: 30px;
    max-height: 60px;
    text-align: center;
    place-self: center;
    font-size: 2rem;
    font-weight: bold;
}

#navbar .navbar-content {
    font-size: 1.1em;
    width: 100%;
    display: grid;
    grid-template-columns: 70%;
    padding: 10px 0;
    justify-content: center;
    list-style-type: none;
}

.navbar-content .block {
    display: inline-flex;
    justify-content: center;
    line-height: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0, 141, 158, 1);
    background-color: rgba(0, 141, 158, 1);
}

.block .search {
    width: 100%;
    font-size: 1.2rem;
    padding: 5px;
}

.block .material-icons {
    padding: 5px 20px;
    font-size: 1.5em;
    cursor: pointer;
    vertical-align: baseline;
    color: #eeeeee;
}

.block .material-icons:hover {
}

.block:hover {
    background-color: rgba(10, 160, 170, 1);
}

#navbar .login-block {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-self: center;
}

#navbar .logo-wrap {
    margin-left: 50%;
}

.login-block .dropdown {
    font-weight: normal;
    padding: 10px;
    width: 100%;
    display: inline-flex;
    cursor: pointer;
    font-size: 1.3em;
}

.login-block .dropdown .menu {
    background-color: white;
    min-width: 15rem;
    padding: 1rem;
    display: none;
    z-index: 20;
    position: absolute;
    top: 7vh;
}

.login-block .dropdown .menu a {
    padding: 0.5rem;
    border-radius: 5px;
    text-align: right;
}

.login-block .dropdown .menu a:hover {
    background-color: #eeeeee;
}

.login-block .dropdown .menu a:last-child {
    border: none;
}

.login-block .dropdown:hover span {
    color: #505050;
}

.login-block .dropdown:hover .menu {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow: scroll;
}

.login-block .dropdown .material-icons {
    vertical-align: middle;
    font-size: 1.1em;
    height: 100%;
}

.page-content {
    min-height: 50em;
    padding: 2rem 0;
}

.home-body {
    align-self: center;
    margin: auto;
    width: 80%;
}

.home-photo {
    width: 100%;
    cursor: pointer;
    border-style: none;
}

.photo-block {
    height: 15em;
    width: 100%;
    overflow: hidden;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.grid-head {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 2rem;
}

.catalog-grid {
    margin: 20px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.catalog-grid .card {
    aspect-ratio: 3/4;
    background-color: #ffffff;
    border: 1px solid rgba(100, 100, 100, 0.2);
    cursor: pointer;
    overflow: hidden;
    display: grid;
    grid-gap: 5%;
    grid-template-rows: 80% 15%;
}

.card .card-photo {
    position: relative;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
}

.card .card-text {
    margin: auto;
    text-wrap: normal;
    width: 90%;
}

.card:hover {
    background-color: #fafafa;
}

.card:link {
    text-decoration: none;
}

.cat-carousel {
    overflow: hidden;
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.cat-carousel .cat-carousel-slider {
    display: flex;
    transition: 0.3s;
}

.cat-carousel .category {
    flex: 1 0 25%;
    cursor: default;
    aspect-ratio: 1/1;
    background-color: white;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-gap: 0;
    align-content: center;
    border: 1px solid rgba(100, 100, 100, 0.2);
    overflow: hidden;
}

.cat-carousel-prev,
.cat-carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 0;
    border: none;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.cat-carousel .material-icons {
    font-size: 40px;
    background-color: rgba(0, 141, 158, 1);;
}

.cat-carousel-prev:hover,
.cat-carousel-next:hover {
    background-color: rgba(0, 141, 158, 2);;
    color: #dddddd;
}

.cat-carousel-prev {
    left: 0;
}

.cat-carousel-next {
    right: 0;
}

.category .cat-photo {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.category .btn {
    padding: 1rem;
    width: 70%;
    cursor: pointer;
    border: none;
    margin: auto;
    font-size: 1.2em;
    color: white;
    background-color: rgba(0, 141, 158, 1);
    text-align: center;
}

.category .btn .material-icons {
    vertical-align: baseline;
}

.category .btn:hover {
    background-color: rgba(0, 141, 158, 0.9);
}

.item-body {
    margin-top: 2rem;
    padding: 0 100px;
    display: grid;
    grid-template-columns: 75% 20%;
    grid-gap: 5%;
}

.item-body .description {
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.description .carousel {
    margin: 10px 0 5px 0;
    width: 100% !important;
    height: unset !important;
    aspect-ratio: 4/3 !important;
}

.description .carousel .carousel-slide img {
    width: 100% !important;
    aspect-ratio: 4/3 !important;
    height: unset !important;
}

.description .label {
    margin: 10px 0 5px 0;
}

.description h4 {
    margin: 10px 0 5px 0;
}

.description .cat {
    border-radius: 5px;
    padding: 0.5em;
    width: fit-content;
    background-color: #eeeeee;
}

.description .cat:hover {
    background-color: #cccccc;
}

.description .desc {
    border-radius: 5px;
    text-wrap: normal;
    background-color: #eeeeee;
    padding: 0.5em;
    width: 100%;
}

.form-wrap {
    position: sticky;
    top: 60px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    overflow: hidden;
    background-color: white;
    width: 400px;
    height: fit-content;
}

.form-wrap .form-label {
    padding-left: 1em;
}

.form-wrap form {
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 1em;
}

.form-wrap form input {
    padding: 1em;
    width: auto;
    border: 1px solid rgba(0, 141, 158, 1);
}

.form-wrap form textarea {
    width: 100%;
    border: 1px solid rgba(0, 141, 158, 1);
}

.form-wrap form input:hover {
    border: 2px solid rgba(0, 141, 158, 1);
}

.form-wrap form textarea:hover {
    border: 2px solid rgba(0, 141, 158, 1);
}

.form-wrap form img {
    width: 150px;
}

.form-wrap form .capcha {
    background-color: #eeeeee;
    padding: 10px;
}

.form-wrap form .message {
    text-align: center;
    color: #bb1010;
    height: 1.5em;
}

.form-wrap .form-btn {
    font-size: 1em;
    cursor: pointer;
    margin: 10px 20%;
    padding: 10px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
}

.form-wrap .form-btn:hover {
    background-color: #d0d0d0;
}

.form-wrap .form-btn:active {
    background-color: #cccccc;
}

.search-res {
    margin-top: 30px;
    display: block;
}

.search-res .results-wrap {
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.hidden {
    display: none;
}

.search-res .results-wrap .header {
    font-size: 30px;
    grid-column: span 2;
    color: #606060;
    font-weight: bold;
}

.filters .filters-btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    align-self: center;
    width: fit-content;
    font-size: 20px;
}

.carousel {
    display: block;
    z-index: 0;
    position: relative;
    height: 20em;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}

.carousel-slider {
    display: flex;
    transition: 0.3s;
}

.carousel-slide {
    flex: 1 0 100%;
}

.carousel-slide img {
    display: block;
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.carousel button {
    font-size: inherit;
}

.carousel .material-icons {
    font-size: 50px;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #dddddd;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.about {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    max-width: 100%;
    background-color: #fafafa;
    color: black;
}

.about .head {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.about .text {
    width: 100%;
    text-align: left;
}

.carousel-navigation {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.carousel-bullet {
    width: 1em;
    height: 1em;
    border: none;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-bullet.is-active {
    background: #1c69d3;
}

.cat-block {
    width: 90vw;
    margin: auto;
}

@media (max-width: 1500px) {
    .item-body {
        grid-template-columns: 60% 37%;
        grid-gap: 3%;
    }

    .form-wrap {
        min-width: 25vw;
        width: auto;
    }
}

@media (max-width: 1000px) {

    #navbar {
        display: flex;
        flex-direction: column;
    }

    #navbar .navbar-content {
        width: 100%;
    }

    #navbar .navbar-logo {
        max-height: 170px;
    }

    #navbar .navbar-content .block .text {
        display: none;
    }

    #navbar .navbar-content .block {
        border: none;
    }

    .block .search {
        font-size: 3rem;
        margin: 2px;
        width: 100%;
    }

    #navbar .login-block {
        width: 100%;
    }

    #navbar .login-block {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        align-self: center;
    }

    #navbar .logo-wrap {
        margin: auto;
    }

    .login-block .dropdown {
        font-size: 3rem;
    }

    .material-icons {
        font-size: 60px !important;
    }

    body {
        min-height: 100%;
        width: 100%;
    }

    footer .content {
        display: flex;
        flex-direction: column;
        grid-row: auto;
        margin-bottom: 10px;
    }

    footer {
        font-size: 30px;
        bottom: 0;
    }

    footer .content .row {
        width: 100%;
    }

    body {
        min-height: 1000px;
    }

    .home-body {
        height: fit-content;
    }

    .page-content {
        width: 100vw;
        min-height: 100vh;
        margin-top: 50px;
    }

    .grid-head {
        font-size: 4rem;
    }

    .catalog-grid {
        grid-template-columns: 50% 50%;
        grid-gap: 1px;
        padding-bottom: 2rem;
    }

    .card .card-photo {
        width: 100%;
    }

    .catalog-grid .card {
        grid-template-columns: none;
        border: 1px solid rgba(100, 100, 100, 0.2);
    }

    .card .card-photo {
        padding-top: 0;
    }

    .card .card-text {
        font-size: 2rem;
        font-weight: bold;
    }

    .catalog-grid .category {
        border: 1px solid rgba(100, 100, 100, 0.2);
        font-size: 2.5rem;
    }

    .catalog-grid .category .btn {
        width: 100%;
        padding: 1.5rem 0;
        text-align: center;
    }

    .carousel {
        margin-top: 200px;
    }

    .carousel-prev,
    .carousel-next {
        height: 300px;
    }

    .carousel .material-icons {
        font-size: 100px;
    }

    .carousel-bullet {
        display: none;
    }

    .item-body {
        margin: auto;
        padding: 80px 0;
        display: block;
        font-size: 3rem;
    }

    .item-body .description {
    }

    .description .carousel {
        margin: 10px 0 5px 0;
        width: 80vw !important;
        height: 60vw !important;
    }

    .description .carousel .carousel-slide img {
        width: 80vw !important;
        height: 60vw !important;
    }

    .description .label {
        padding: 10px 0 5px 0;
    }

    .description h4 {
        padding: 10px 0 5px 0;
    }

    .description .cat {
    }

    .description .cat:focus {
        background-color: #cccccc;
    }

    .description .desc {
        border-radius: 5px;
        grid-column: span 2;
        text-wrap: normal;
        background-color: #eeeeee;
        padding: 0.5em;
        width: 95%;
    }

    .form-wrap {
        margin-top: 10px;
        padding: 10px;
        background-color: white;
        width: 100%;
        height: fit-content;
    }

    .form-wrap .form-label {
        width: 100%;
        padding-left: 1em;
    }

    .form-wrap form {
        gap: 10px;
    }

    .form-wrap form input {
        z-index: 1;
        padding: 1em;
        margin: 5px 5px;
        font-size: 2rem;
        width: auto;
        border: 3px solid rgba(0, 141, 158, 1);
    }

    .form-wrap form textarea {
        width: auto;
        font-size: 2rem;
        margin: 5px 5px;
        border: 3px solid rgba(0, 141, 158, 1);
    }

    .form-wrap form img {
    }

    .form-wrap form .capcha {
        background-color: #eeeeee;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .form-wrap label {
        margin: 15px 0 0 0;
    }

    .form-wrap form .message {
        text-align: center;
        color: #bb1010;
        height: 1.5em;
    }

    .form-wrap .form-btn {
        font-size: 1em;
        cursor: pointer;
        margin: 10px 20%;
        padding: 10px;
        background-color: #dddddd;
        border: none;
        border-radius: 5px;
    }

    .form-wrap .form-btn:hover {
        background-color: #d0d0d0;
    }

    .form-wrap .form-btn:active {
        background-color: #cccccc;
    }

    .login-block .dropdown {
        display: none;
    }

    .search-res {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
    }

    .search-res .results-wrap .header {
        font-size: 40px;
    }

    .cat-block {
        margin-top: 10vh;
    }

    .cat-block .header {
        font-size: 40px;
    }

    .cat-carousel .category {
        flex: 1 0 50%;
    }

    .cat-carousel-prev,
    .cat-carousel-next {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .about {
        font-size: 33px;
    }
}