{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="white"/>
    <title>Star Trading</title>
    <link href="{% static 'css/katalog.css' %}" rel="stylesheet" type="text/css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Material+Icons"
            rel="stylesheet"
    />
</head>
<body>
<div class="nav-header" id="nav-header"></div>
<div id="navbar" class="sticky">
    <a href="/home/" class="logo-wrap">
    <img class="navbar-logo" src="{% static 'img/Logo.jpg' %}"/>
    </a>
    <div class="navbar-content">
        <div class="block">
            <input class="search" id="search" name="search" placeholder="Search...">
            <span class="material-icons" onclick="search()"> search </span>
        </div>
    </div>
    <div class="login-block">
        <div class="dropdown">
            <span>Categories <span class="material-icons"> menu </span></span>
            <div class="menu">
                {% for cat in cats %}
                    <a href="/category/{{ cat.id }}"> {{ cat.category }} </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    {% block content %}

    {% endblock %}
</div>
<footer>
    <div class="content">
        <div class="row">
            <a href=""> R Star Trading</a>
            <a href=""> Business Center 1, M Floor, The Meydan Hotel, Nad Al Sheba, Dubai, U.A.E</a>
        </div>
        <div class="row">
            <a href=""> phone: +971 56 440 3942 </a>
            <a href=""> email: mail@rstartrading.ae</a>
            <a href=""> web: www.rstartrading.ae </a>
        </div>
    </div>
    <div class="endline"></div>
</footer>
<script src="{% static 'js/accordion.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
</body>
</html>