{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="cat-block">
        <h3 class="header">Category: {{ cat.category }}</h3>
        <div class="catalog-grid">
            {% if photos %}
                {% for photo in photos %}
                    <a class="card" href="/item/{{ photo.item.id }}">
                        <img class="card-photo" src="{{ photo.image.url }}" alt="...">
                        <div class="card-text">{{ photo.item.name }}</div>
                    </a>
                {% endfor %}
            {% else %}
                    <h3 class="header">Nothing here, yet</h3>
            {% endif %}

        </div>
    </div>
{% endblock %}