{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="home-body">
        <div class="carousel">
            <div class="carousel-slider">
                {% for car in cars %}
                    <div class="carousel-slide"><img src="{{ car.image.url }}"
                                                     alt="Image 1"></div>
                {% endfor %}
            </div>
        </div>
        <div class="grid-head">
            Categories
        </div>
        <div class="cat-carousel">
            <div class="cat-carousel-slider">
                {% for cat in cats %}
                    {% if cat.image.url is not none %}
                        <div class="category">
                            <img class="cat-photo" src="{{ cat.image.url }}" alt="...">
                            <a class="btn" href="/category/{{ cat.id }}">{{ cat.category }}</a>
                        </div>
                    {% else %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="about">
            <h3 class="head">
                Company profile
            </h3>
            <div class="text">
                R Star Trading is a dynamically developing company in the field of wholesale international trade. R Star
                Trading cooperates with manufacturers in different countries of the world.
                <ul>
                    <li>
                        Among our partners there are
                        factories and trading enterprises in China, South Korea, India, Europe and the USA.
                    </li>
                    <li>
                        We supply raw materials for the food industry, construction companies, chemical plants and
                        textile
                        factories.
                    </li>
                    <li>
                        Our specialists speak 5 languages and work on a 24/7 hotline. We are always in touch and ready
                        to assist our customers!
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid-head">
            Latest deals
        </div>
        <!-- 4 рекомендации -->
        <div class="catalog-grid">
            {% for photo in photos %}
                <a class="card" href="/item/{{ photo.item.id }}">
                    <img class="card-photo" src="{{ photo.image.url }}" alt="...">
                    <div class="card-text">{{ photo.item.name }}</div>
                </a>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/cat-carousel.js' %}"></script>
{% endblock %}