{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="item-body">
        <div class="description">
            <h2 class="label">
                {{ item.name }}
            </h2>
            <div class="carousel">
                <div class="carousel-slider">
                    {% for img in images %}
                        <div class="carousel-slide"><img src="{{ img.image.url }}"
                                                         alt="Image 1"></div>
                    {% endfor %}
                </div>
            </div>
            <h4> Category </h4>
            <a class="cat" href="/category/{{ item.category.id }}">
                {{ item.category }}
            </a>
            <h4> Description </h4>
            <div class="desc">
                {{ item.description }}
            </div>
        </div>
        <div class="form-wrap">
            <h3 class="form-label">Request form</h3>
            <form method="post" action="/send_email">
                {% csrf_token %}
                <label>
                    Your email
                </label>
                {{ form.email }}
                <label>
                    Your name
                </label>
                {{ form.name }}
                <label>
                    Comment(optional)
                </label>
                {{ form.comment }}
                <label>
                    Complete Captcha
                </label>
                <div class="capcha">
                    {{ form.captcha }}
                </div>
                {% if hidden %}
                    <div class="message hidden">
                        Please, try again
                    </div>
                {% else %}
                    <div class="message">
                        Please, try again
                    </div>
                {% endif %}
                <button class="form-btn" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}