{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="search-res">
        <div class="results-wrap catalog-grid">
            <!-- Сообщение результата поиска -->
            {% if amount == 0 %}
                <h3 class="header">Nothing found for your request.</h3>
            {% else %}
                {% for photo in photos %}
                    <a class="card" href="/item/{{ photo.item.id }}">
                        <img class="card-photo" src="{{ photo.image.url }}" alt="...">
                        <div class="card-text">{{ photo.item.name }}</div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}